{% extends "index.html" %}
{% block content %}
    <table id="province-table" class="display">
        <thead>
        <tr>
            <th>Region code</th>
            <th>Region name</th>
            <th>Total of cases</th>
            <th>Number of provinces</th>
        </tr>
        </thead>
        <tbody>
        </tbody>
    </table>
{% endblock content %}
{% block page_script %}
    <script>
        let province_table = $("#province-table").DataTable({
            "order": [[2, "desc"]],
            "pageLength": 10,
            "columns": [
                {"data": "region_code"},
                {"data": "region_name"},
                {"data": "total_cases"},
                {"data": "numero_province"},
            ],
            "ajax": {
                "url": "{% url "dataimport:data_import_province_table_ajax" %}",
                "type": "POST"
            },
            "processing": true,
            "serverSide": true,
            "searching": false,
            "columnDefs": [],
        });
    </script>
{% endblock page_script %}
