{% extends "index.html" %}
{% block content %}
    <table id="province-table" class="display">
        <thead>
        <tr>
            <th>Region code</th>
            <th>Region name</th>
            <th>Total of cases</th>
            <th>Number of provinces</th>
        </tr>
        </thead>
        <tbody>
        </tbody>
    </table>
{% endblock content %}
{% block page_script %}
    <script>
        let province_table = $("#province-table").DataTable({
            "order": [[2, "desc"]],
            "pageLength": 10,
            "layout": {
                "topEnd": {
                    "buttons": [
                        {
                            "text": 'Import data',
                            "attr": {
                                "title": 'Import data from GitHub repository',
                                "id": 'data-import-province-button'
                            },
                            action: function (e, dt, node, config) {
                                import_dati_province()
                            }
                        }
                    ]
                }
            },
            "columns": [
                {"data": "region_code"},
                {"data": "region_name"},
                {"data": "total_cases"},
                {"data": "numero_province"},
            ],
            "ajax": {
                "url": "{% url "dataimport:data_import_province_table_ajax" %}",
                "type": "POST"
            },
            "processing": true,
            "serverSide": true,
            "searching": false,
            "columnDefs": [],
        });

        function import_dati_province() {
            let importa_dati_province_button = $("#data-import-province-button");
            importa_dati_province_button.html("<i class=\"fa fa-spinner fa-spin fa-fw\"></i> Import in progres");
            importa_dati_province_button.attr("disabled", true);

            $.ajax({
                type: "GET",
                url: "{% url 'dataimport:data_import_province_from_github' %}",
                success: function (data) {
                    province_table.ajax.reload();
                    importa_dati_province_button.html("Import data");
                    importa_dati_province_button.attr("disabled", false);
                },
                error: function (data) {
                    console.log(data)
                }

            });
        }
    </script>
{% endblock page_script %}
